* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: auto;
}

.menu.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu.item * {
    margin: 0px 5px;
}

a {
    color: #5e5e5e;
    text-decoration: none;
}

button {
    color: white;
    background-color: #0061ff;
    padding: 4px 8px;
    border: none;
}

/* jumbotron */

.jumbotron {
    background-color: #b4d0e7;
    margin-bottom: 20px;


    position: relative;
    top: 80px;
}

.container-jumbotron {
    width: 65%;
    height: 100%;
    margin: auto;
    border: 1px blue solid;
}

h1 {
    font-size: 52px;
    font-weight: 900;
}

.containerflex-jumbotron {
    height: 100%;
    display: flex;
    border: brown 2px solid;
}

.text-jumbotron {
    height: 40%;
    width: 40%;
}

.text-jumbotron *{
    margin-bottom: 15px;
}

.img-jumbotron {
    width: 60%;
    height: 70%;
    border: black solid 1px;
}

#img-jumbotron {
    max-width: 100%;
    position: relative;
    top: 40px;
}

/* main */

main {
    position: relative;
    top: 80px;
}

.container-main {
    width: 60%;
    margin: auto;
}

.title-plans {
    height: 50px;
    background-color: red;
}

.col-plans {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    background-color: azure;
}


.plan {
    width: calc(100% /3 - 10px);
    height: 100%;
    border: purple 2px solid;
}

.row-plans {
    height: 100px;
    background-color: blue;
}

/* partner section  */

.partner-section {
    display: flex;
    margin-top: 20px;
}

.img-partner {
    width: 55%;
}

.img-partner img {
    max-width: 100%;
    max-height: 100%;
}

.text-partner {
    width: 45%;

    padding: 20px;
}

.text-partner * {
    margin-bottom: 15px;
}

.text-partner button {
    border: black 1px solid;
    color: black;
    background-color: white;
}

/* operations  */

.title-operations {
  padding: 50px 0px;
}

.col-operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.operation {
    width: calc(100% /3 - 10px);
    margin-bottom: 5px;
}

.operation * {
    padding-bottom: 5px;
}

.operation img{
    max-width: 100%;
    max-height: 100%;
}

/* pre-partners  */

.pre-customers {
    padding: 100px 0px; ;
}

.pre-customers h2 {
    font-weight: 800;
    padding-bottom: 20px;
}

.pre-customers a {
    text-decoration: underline;
    color: blue;
    font-size: 12px;
}

/* partners section  */

.customers-section {
    display: flex;
    height: 350px;
    width: 100vw;
    background-color: coral;
}

.customers.left {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.customers.middle {
    width: calc(100% / 3);
    background-color: #f5f5f5;
}

.customers.right {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.customer {
    position: relative;
    width: 50%;
    height: 50%;
    border: black 1px solid;
}

.customer img {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.customers.left .customer:nth-of-type(1){
    background-color: #a2d39b;
}

.customers.left .customer:nth-of-type(2){
    background-color:  #61082b;
}

.customers.left .customer:nth-of-type(3){
    background-color: #0093ce;
}

.customers.left .customer:nth-of-type(4){
    background-color:  #ff1c1c;
}

.customers.right .customer:nth-of-type(1){
    background-color: #d5001f;
}

.customers.right .customer:nth-of-type(2){
    background-color: #b4d0e7;
}

.customers.right .customer:nth-of-type(3){
    background-color: #0d2481;
}

.customers.right .customer:nth-of-type(4){
    background-color:  #ffd830;
}

/* sezione prova gratuira  */

.free-trial {
    /* height: 50px; */
    background-color: #b4d0e7;
    padding: 100px 0px;
}

.free-trial .container-main {
    display: flex;
    justify-content: space-between;
}

.free-trial h2 {
    color: #610627;
}

.free-trial button {
    background-color: white;
    color: #5e5e5e;
}

/* faq  */

.faq-section {
    background-color: white;
    padding: 100px 0px;
}

.faq-section h2 {
    padding-bottom: 25px;
    border-bottom: grey 1px solid;
    

}

.faq {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 0px;
    border-bottom: grey 1px solid;
}

.faq i {
    position:absolute;
    right: 20px;
}


/* footer  */

footer {
    background-color: black;
    position: relative;
    top: 80px;
}

.container-footer {
    width: 65%;
    margin: auto;
}

.footer-grande {
    display: flex;
    justify-content: space-between;
    
}

.footer-col {
    width: 20%;
    color: white;
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-col h3 {
    padding-bottom: 20px;
}

.footer-col a {
    display: block;
    color: white;
    padding: 3px 0px;
    font-size: 13px;
}

.footer-piccolo {
    color: #5e5e5e;
    margin: 20px 0px;
    padding: 20px 0px;
    font-size: 11px;
    width: 10%;
    border-top: white 1px solid;
}

.footer-piccolo * {
    padding-right: 2px;
}

/*  */
/*  */
/* debug */
/*  */
/*  */

/* header {
    background-color: aqua;
} */

/* nav {
    border: black solid 2px;
} */

/* .menu.item {
    height: 100%;
    border: red solid 1px;
} */


/* jumbotron  */

/* .jumbotron {
    height: 400px;
} */

/* .containerflex-jumbotron {
    display: flex;
    height: 200px;
    border: brown 2px solid;
} */

/* .title-jumbotron {
    border: orange 2px solid;
    height: 20%;
} */

/* .text-jumbotron {
    border: black solid 1px;
} */

/* main */

/* main {
    background-color: grey;
    height: 2100px;
}  */

.container.plansandoptions {
    border: red 1px solid;
}


/* partner section  */

/* .partner-section {
    height: 400px;
    background-color: blueviolet;
} */

/* .img-partner {
    border: black 1px solid;
} */

/* .text-partner {
    
    border: black 1px solid;
} */

/* operations  */

/* .operation {
    height: 200px;
    border: purple 2px solid;
    
} */

/* .title-operations {
    height: 50px;
    background-color: red;
} */

/* .col-operations {
    background-color: azure;
} */

/* .operation {
    border: purple 3px solid;
} */

/* .faq {
    height: 50px;
    border: crimson 1px solid;
} */

/* footer  */

/* .container-footer {
    border: 1px blue solid;
} */

/* .footer-grande {
    border: greenyellow solid 1px;
} */

/* .footer-col {
    border: white solid 1px;
} */